{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

<section class="conteudo">
    <section class="imagem">
        <div class="imagem__conteudo">
            <!-- <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}"> -->
            <div class="imagem__info">
                <div class="imagem__texto">
                    <p class="imagem__titulo">“Página Sobre</p>
                    <p class="imagem__descricao">Craido por Rafael Rezende Lehnhart</p>
                </div>
            </div>
        </div>
    </section>
</section>
</main>
</div>

{% endblock %}